# Data directories
data/
data_split/
outputs/
logs/
modules/*.pkl
models/*.pkl
~$*.xlsx
**/~$*.xlsx

*.log

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
